{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinder Appointment</title>
  <link rel="stylesheet" href="{% static 'django_app/styles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    /* ナビゲーションバーが隠れるスタイル */
    .navbar.hidden {
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <h1 class="navbar-brand mx-auto" href="#">Tinder Appointment</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">ホーム</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% if user.is_authenticated %} /django_app/user {% else %} /django_app/login {% endif %}">
                    {% if user.is_authenticated %}
                      {{ user.username }}さん
                    {% else %}
                      未ログイン
                    {% endif %}
                  </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        マッチングメニュー
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/django_app/day_register_form/">希望日を登録してマッチングを待つ</a>
                        <a class="dropdown-item" href="/django_app/register_check/">あなたが登録している日を確認</a>
                        <a class="dropdown-item" href="/django_app/match_check/">マッチ成立があるか確認する</a>
                        <a class="dropdown-item" href="/django_app/">登録済みユーザーを探す</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- 各ページのhtml内容は以下のブロック内に格納される -->
    {% block content %}
    {% endblock %}

  <!-- フッター -->
  <footer class="footer fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 ICT-C Team5 Tinder Appointment</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Jnujsl5/xy5r5o9tnzrF5E5CZ50w5+gD6RZtiO5Fp3J2j6F" crossorigin="anonymous"></script>
  <script>
    // ページが読み込まれた時に実行される処理
    window.addEventListener('load', function () {
      var prevScrollPos = window.pageYOffset;
      var navbar = document.querySelector('.navbar');
  
      // スクロールイベントを監視
      window.addEventListener('scroll', function () {
        var currentScrollPos = window.pageYOffset;
  
        // スクロール方向に応じてナビゲーションバーを表示または非表示にする
        if (prevScrollPos > currentScrollPos) {
          // スクロールが上方向に進んでいる場合
          navbar.classList.remove('hidden');
        } else {
          // スクロールが下方向に進んでいる場合
          navbar.classList.add('hidden');
        }
  
        prevScrollPos = currentScrollPos;
      });
    });
  </script>
</body>
</html>


