<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Tinder Appointmentへようこそ!!</title>
</head>
<body>
    <h1>名前と日時を入力してください</h1>
    <form method="post" action="{% url 'home' %}"> 
        {% csrf_token %}
        <label for="name">名前:</label>
        <input type="text" id="name" name="name"><br>

        <label for="datetime">日時:</label>
        <input type="datetime-local" id="datetime" name="datetime"><br>

        <button type="submit" style="appearance: button;">登録</button>
    </form>
</body>
</html>



